<IfModule mod_rewrite.c>
php_value max_execution_time 1
php_value max_input_time 30
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>