#header h1 {
    background: none repeat scroll 0 0 rgba(13, 61, 145, 0.4);
    color: #fff;
    font-size: 32px;
    margin: -69px 0 0;
    padding: 15px 0 15px 35px;
    position: absolute;
    width: 100%;
}

.scroll-slide{ 
	box-shadow:0px -1px 0 #ccc inset;
}


.flex-direction-nav, ol ul{list-style:none !important; margin:0; padding:0;}
.flexslider{ width:100% !important;}

/* Navigation starts */
#navbg{ width:100%; margin:0; position:relative; height:32px; background:#444444;}
#navbg ol{ width:auto;  position:absolute; left:0px; right:0px; margin:0 auto; top:0px; z-index:22; padding:0;}
#navbg ul{ width:960px; margin:0 auto; overflow:hidden; padding:0px; list-style-type:none;}
#navbg ul li{ float:left; margin:0 10px 0px 0px; text-transform:uppercase; font-family:"Arno Pro"; font-size:20px; line-height:20px; list-style:none;}
#navbg ul li a{
		font-size:14px; 
		display:block;padding:6px 8px;
		color:#FFF;text-decoration:none; 
		-o-transition:all 1s; 
		-webkit-transition:all .5s; 
		-moz-transition:all .5s; 
}
#navbg ul li a:hover {background:#e19a28;}

.fist-sub-bar ul{ width:156px;}.sub-more a {
    color: #4d4d4d;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 12px 0;}
	
.dropdown-heading{    
   
   font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 15px 19px 0px;
	
	}


/* Navigation ends */

#blank{width:100%; position:fixed; left:0px; right:0px; margin:0 auto; height:100%; z-index:20; display:none;}
.backdrop{width:1000px; position:absolute; left:0px; right:0px; margin:0 auto; height:100%; z-index:20; }

/* mouse-over */
#mouse-over{ 
	width:100%; background:#fff; 
	padding:25px 5px 17px 20px; 
	height:420px; position:absolute;  
	top:0; left:0px;  
	border:3px solid #e19a28; 
	min-height:470px; 
	-webkit-box-shadow: 0px 6px 7px #CCC;
    -moz-box-shadow: 0px 6px 7px #CCC;
    box-shadow: 0px 6px 7px #CCC;
	z-index:9999;
}

#mouse-over a{text-decoration:none; color:#222222; }
#mouse-over a:hover{text-decoration:none; color:#2272ff;}

/* subjects */
#mouse-over #sub-pic1{margin:0;  float:left; text-align:center; color:#222222;}
#mouse-over #sub-pic2{ margin:0 0 0 20px;  float:left; text-align:center;}
#mouse-over #sub-head{color:#fff; padding:0; text-align:center; font-size:22px; margin:0;}
#mouse-over #sub-pic3{ margin:0 0 0 20px;  float:left; text-align:center;}
#mouse-over #sub-pic4{ margin:0 0 0 20px;  float:left; text-align:center;}
#mouse-over #sub-pic5{ margin:0 0 0 20px;  float:left; text-align:center;}
#mouse-over #pattern{margin:210px 0 0 0px; padding:0; background:#09F; width:680px; position:absolute; /*height:204px;*/ }
#mouse-over #pattern h1{color:#fff; padding:0; font-weight:normal; text-align:center; font-size:22px; margin:10px 0 0 0;}
#mouse-over #pattern ul{margin:10px 0 0 19px; padding:0; float:left;}
#mouse-over #pattern ul li{list-style:none; line-height:19px; margin:0; padding:0; font-size:14px;}
#mouse-over #pattern ul li a{text-decoration:none; color:#fff;}
#mouse-over #pattern ul li a:hover{text-decoration:none; color:#000;}


/* artist */
#mouse-over #artistspic01{margin:0;  float:left; text-align:center; color:#222222;}
#mouse-over #artistspic02{  float:left; text-align:center; width:auto; margin:0; padding:0;}
#mouse-over #artistspic02 ul{ width:auto; text-align:center; margin:0;}
#mouse-over #artistspic02 ul li{ width:auto; display:inline-block; margin:0 20px;}
#mouse-over #artistspic02 ul li strong{ display:block;}
#mouse-over #artist-bg{background:#09F; width:300px; float:left; height:400px; margin:0 0 0 40px;}

#mouse-over #artist-bg div{ overflow:hidden;}

#mouse-over #artist-bg h1{color:#fff; padding:0; font-weight:normal; text-align:center; font-size:22px; margin:10px 0 0 0;}
#mouse-over #artist-bg ul{margin:10px 0 0 40px; width:100px; padding:0; float:left;}

#mouse-over #artist-bg ul h2{ display:block; color:#fff; margin:0 0 15px 0; padding:0; font-weight:normal; font-size:16px; text-align:left;}
#mouse-over #artist-bg ul li{list-style:none; line-height:19px; margin:0; padding:0; font-size:14px;}
#mouse-over #artist-bg ul li a{text-decoration:none; color:#fff; }

#mouse-over #artist-bg ul li a:hover{text-decoration:none; color:#000;}
/* art style */


#mouse-over #artstylepic01{margin:0;  float:left; text-align:center; color:#222222;}
#mouse-over #artstylepic02{  float:left; text-align:center; width:auto; margin:0 0 0 0px; padding:0;}
#mouse-over #artstylepic02 ul{ width:auto; text-align:center; padding:0; margin:0;}
#mouse-over #artstylepic02 ul li{ width:auto; display:inline-block; margin:0 10px;}
#mouse-over #artstylepic02 ul li strong{ display:block;}
#mouse-over #artstylepic02 #artstyle-bg{background:#09F; width:420px; overflow:auto; padding:0 0 22px 0;  margin:20px 0 0 14px; overflow:hidden; }
#mouse-over #artstylepic02 #artstyle-bg h1{color:#fff; padding:0; font-weight:normal; text-align:center; font-size:22px; margin:10px 0 0 0;}
#mouse-over #artstylepic02 #artstyle-bg ul{margin:10px 0px 0 20px; padding:0;  float:left; text-align:left; }
#mouse-over #artstylepic02 #artstyle-bg ul h2{ display:block; color:#fff; margin:0 0 15px 0; padding:0; font-weight:normal; font-size:16px; text-align:left;}
#mouse-over #artstylepic02 #artstyle-bg ul li{list-style:none; margin:0; padding:0px;  font-size:14px; width:100%; display:block; text-align:left;}
#mouse-over #artstylepic02 #artstyle-bg ul li a{color:#fff; text-decoration:none;}
#mouse-over #artstylepic02 #artstyle-bg ul li a:hover{color:#000; text-decoration:none;}
#mouse-over #artstylepic04{margin:0 0 0 15px; padding:0;  float:left; text-align:center; color:#222222;}


/* Products */

#mouse-over #productpic01{margin:0; padding:0; float:left; text-align:center; color:#222222; width:30%;clear: both;}
#mouse-over #productpic02{margin:0 0 0 380px; padding:0; float:left; text-align:center; color:#222222;}
#mouse-over #cntnt{float:left; margin:40px 0 0 0; padding:0; color:#000; width:270px; text-align:justify; }
#mouse-over #productpic04{margin:40px 0 0 100px; padding:0; float:left; text-align:center; color:#222222;}


/* collections */
#mouse-over #fltleft{float:left; width:440px; padding:0px; margin:0 10px 0 0px;}
#mouse-over #fltleft img{ }
#mouse-over #collectionpic01{margin:0; padding:0; text-align:center; color:#222222; }

#mouse-over #collection-bg{/*background:#09F;*/ overflow:auto; width:auto; margin:15px 0 0 0; padding:0 0 15px 0;}


#mouse-over #collection-bg h1{margin:0; padding:10px 0; text-align:center; font-weight:normal; font-size:16px; color: #d42326;}


/*#mouse-over #collection-bg h1{margin:0; padding:10px 0; text-align:center; font-weight:normal; font-size:16px; color:#FFF;}*/





#mouse-over #collection-bg ul{ width:auto; padding:0; /*margin:0 0 0 20px;*/ float:left;}
#mouse-over #collection-bg ul h2{ display:block; color:#fff; margin:0 0 15px 0; padding:0; font-weight:normal; font-size:16px; text-align:center;}



#mouse-over #collection-bg ul li{ width:auto; list-style:none;  margin:0 0px;}
#mouse-over #collection-bg ul li a{/*color:#fff;*/ text-decoration:none;}
#mouse-over #collection-bg ul li a:hover{color:#2272ff; text-decoration:none;}

#mouse-over #fltryt{ width:auto; overflow:hidden; margin:0px; padding:0;}

#mouse-over #collectionpic02{margin:0; padding:0;  text-align:left; color:#222222; text-align:center; }
#mouse-over #collectionpic02 img{width:100%; height:160px;}
#mouse-over #collectionpic03{margin:15px 10px 0 0; width:165px; float:left; padding:0;  text-align:center; color:#222222; }
#mouse-over #collectionpic03 img{width:100%; height:160px;}

#mouse-over #collectionpic04{margin:15px 10px 0 0; width:165px; float:left; hanging-punctuation:200px; padding:0;  text-align:center; color:#222222; }
#mouse-over #collectionpic04 img{width:100%; height:160px;}

#mouse-over #collectionpic05{margin:15px 0 0 0; width:165px; float:left; padding:0;  text-align:center; color:#222222;  }
#mouse-over #collectionpic05 img{ width:100%; height:160px;}


.collections{ padding:0px 2px;}

.collections-one { float:left;width:242px;border-right:solid 1px #FC0; padding: 0px 20px;}
.collections-one > h2{ margin:0px !important;}

/*.collections-one { float:left; width:25%;border-right:solid 1px #FC0; padding: 0px 40px;}*/


.collections-one h2 {
    margin: 20px 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: #d42326;
}

.collections-one ul li{font-size: 14px; line-height: 21px;}
.collections-one ul li a:hover{ color:#2272ff;}