<!doctype html>
<html>
<head>
<title>
form
</title>
<link href="css\style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
<from action="/action_page.php" method="get">

<input type="NAME" name="text" placeholder="Full Name:">
<input type="mail" name="mail" placeholder="Email:">
<br>
<input type="phone" name="number" placeholder=" Phone No:">
<br>

<div class=" event-place">
<span class="location-select">  Event Place  </span>
<select>
  <option value="logix mall Noida">Select</option>
  <option value="">logix mall Noida</option>
  <option value=" "></option>
  <option value=""></option>
</select>

</div>

<div class="dob">
<span style="font-size:14px; color:#e4e1e1;"> Age </span>
<select name="Dobmonth">
<option> Month</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
<option>11</option>
<option>12</option>


</select>

<select name="Dobday">
<option>day</option>
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
<option>11</option>
<option>12</option>
<option>13</option>
<option>14</option>
<option>15</option>
<option>16</option>
<option>17</option>

<option>17</option>
<option>18</option>
<option>19</option>
<option>20</option>
<option>21</option>
<option>22</option>
<option>23</option>
<option>24</option>
<option>25</option>
<option>26</option>
<option>27</option>

<option>26</option>
<option>27</option>
<option>28</option>
<option>29</option>
<option>30</option>
<option>31</option>


</select>

<select name="Dobyear">
<option> Year</option>
<option> 1975</option>
<option> 1976</option>
<option> 1977</option>
<option> 1978</option>
<option> 1979</option>
<option> 1980</option>
<option> 1981</option>
<option> 1982</option>
<option> 1983</option>
<option> 1984</option>
<option> 1985</option>
<option> 1986</option>
<option> 1987</option>
<option> 1988</option>
<option> 1989</option>
<option> 1990</option>
<option> 1991</option>
<option> 1992</option>
<option> 1993</option>
<option> 1994</option>
<option> 1995</option>
<option> 1996</option>
<option> 1997</option>
<option> 1998</option>
<option> 1999</option>
<option> 2000</option>
<option> 2001</option>
<option> 2002</option>
<option> 2003</option>
<option> 2004</option>
<option> 2005</option>
<option> 2006</option>
<option> 2007</option>
<option> 2008</option>
<option> 2009</option>
<option> 2010</option>
<option> 2011</option>
<option> 2012</option>
<option> 2013</option>
<option> 2014</option>
<option> 2015</option>
</select>

</div>
<br>
<div class=" gender-one">
<span class="gender"> Gender</span>
<input type="radio" name="male" value="male"> <span class="selector"> Male</span>
<input type="radio" name="male" value="male"> <span class="selector"> Female </span>
</div>
<br>



<lable class="march1"> Select Time</lable>

<section class="container-Two">
    <table class="cal">
      <caption>
        <span class="prev"><a href="">&larr;</a></span>
        <span class="next"><a href="">&rarr;</a></span>
        March 2018
      </caption>
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="off"><a href="">26</a></td>
          <td class="off"><a href="" >27</a></td>
          <td class="off"><a href="" >28</a></td>
          <td class="off"><a href="" >29</a></td>
          <td class="off"><a href="" >30</a></td>
          <td class="off"><a href="">31</a></td>
          <td><a href="">1</a></td>
        </tr>
        <tr>
          <td><a href="" >2</a></td>
          <td><a href="" >3</a></td>
          <td><a href="" >4</a></td>
          <td><a href="" >5</a></td>
          <td><a href="" >6</a></td>
          <td><a href="" >7</a></td>
          <td><a href="" >8</a></td>
        </tr>
        <tr>
          <td><a href="" >9</a></td>
          <td><a href="" >10</a></td>
          <td><a href="" >11</a></td>
          <td><a href="" >12</a></td>
          <td><a href="">13</a></td>
          <td><a href="">14</a></td>
          <td><a href="" >15</a></td>
        </tr>
        <tr>
          <td><a href="http://www.mahattaart.com/" target="black">16</a></td>
          <td><a href="" >17</a></td>
          <td><a href="" >18</a></td>
          <td><a href="" >19</a></td>
          <td><a href="" >20</a></td>
          <td><a href="" >21</a></td>
          <td><a href="">22</a></td>
        </tr>
        <tr>
          <td><a href="" >23</a></td>
          <td><a href="" >24</a></td>
          <td class="active"><a class="march"href="">25</a>
		          
				  
	  
		  
		  
		  </td>
          <td><a href="">26</a></td>
          <td><a href="">27</a></td>
          <td ><a href="">28</a></td>
          <td><a href="">29</a></td>
        </tr>
        <tr>
          <td><a href="">30</a></td>
          <td><a href="">31</a></td>
          <td class="off"><a href="">1</a></td>
          <td class="off"><a href="">2</a></td>
          <td class="off"><a href="">3</a></td>
          <td class="off"><a href="">4</a></td>
          <td class="off"><a href="">5</a></td>
        </tr>
      </tbody>
    </table>
	
  </section>
  <div class=" timing-one">				   
				   
				   <ul class="timing">
 <li >
 <button> 12:00pm </button>
 <button> 12:15pm </button>
 <button> 12:30pm </button>
 <button> 12:45pm </button>
 <button> 1:00pm </button>

 <button> 1:15pm </button>


 <button> 1:30pm </button>
 <button>1:45pm </button>
 <button>2:00pm </button>
 <button>2:30pm </button>
 <button>2:45pm </button>
 <button> 3:00pm </button>
 <button> 3:15pm </button>

 <button> 3:30pm </button>
 <button> 3:45pm </button>
 <button> 4:00pm </button>
 <button> 4:15pm </button>
 <button> 4:30pm </button>

 <button> 4:45pm </button>
 <button> 5:00pm </button>
 <button> 5:15pm </button>
 <button> 5:30pm </button>
 <button> 5:45pm </button>
 <button> 6:00pm </button>
 <button> 6:15pm </button>
 <button> 6:30pm </button>
 <button> 6:45pm </button>
 <button> 7:00pm </button>
 <button> 7:15pm </button>
 <button> 7:30pm </button>
 <button> 7:45pm </button>
 <button> 8:00pm </button>
 <button> 8:15pm </button>
 <button> 8:30pm </button>
 <button> 8:45pm </button>
 <button> 9:00pm </button>

</li>

</ul>
</div>
<div>	

<!--
<ul >
 <li class="timing">
 <button> 3:00pm </button>
<button> 3:15pm </button>
<button> 3:45pm </button>
<button> 4:00pm </button>
<button> 4:15pm </button>

<button> 4:45pm </button>
<button> 5:00pm </button>
<button> 5:15pm </button>
<button> 5:30pm </button>

<button> 5:45pm </button>
<button> 6:00pm </button>
<button> 6:15pm </button> 
<button> 6:30pm </button>
<button> 6:45pm </button>
<button> 7:00pm </button>
<button> 7:15pm </button>
<button> 7:45pm </button>
<button> 7:00pm </button>
<button> 7:15pm </button>
<button> 7:45pm </button>
<button> 8:00pm </button>
<button> 8:15pm </button>
<button> 8:30pm </button>
<button> 8:45pm </button>
<button> 9:00pm </button>

</li>

</ul>

-->

<span class="slots"> </span>

<button class="submit" > BOOK YOUR SLOT </button>  



<P class=" register-one"> 

 <br>  <input type="checkbox" name="vehicle3" value="Boat" checked>   <span class="link"> Register <span> here to receive updates about  <br> latest events and exciting offers </p> 




</from>


</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script>



</script>

</body>
</html>