.galmin {
	min-height:1000px;
	border:0;
	float:right;
	width:764px
}
* html .galmin {/*\*/
	height:570px;
	border:0
}
.galwidth {
	width:1008px
}
.galHeadline {
	padding:4px 0 10px 0
}
.galleryTitle {
	font-size:13px;
	font-weight:bold
}
.galDisp {
	font-size:10px;
	color:#666
}
.wdth160 {
	width:160px
}
.abs {
	position:absolute
}
.w8 {
	width:8px
}
.h8 {
	height:8px
}
.h9 {
	height:9px
}
img.thmbd {
	border:0;
	top:0;
	left:0;
	border-top:solid 1px #e7e7e7;
	border-left:solid 1px #e7e7e7;
	position:absolute
}
img.thmbd_StretchedCanvas {
	border:0;
	top:0;
	left:0;
	border-top:#e7e7e7;
	border-left:#e7e7e7;
	position:absolute
}
.lrg {
	width:10px;
	height:10px;
	border:0
}
.iconsif {
	border:0;
	cursor:pointer;
	margin:4px 10px -5px 12px;
	width:34px;
	height:43px
}
.iconcnf {
	border:0;
	cursor:default;
	margin:4px 10px -5px 12px;
	width:34px;
	height:43px
}
.iconcart {
	border:0;
	cursor:pointer;
	margin:4px 10px -5px 12px;
	width:34px;
	height:43px
}
.icongal {
	border:0;
	cursor:pointer;
	margin:4px 10px -5px 12px;
	width:34px;
	height:43px
}
.iconwl {
	border:0;
	cursor:pointer;
	margin:0 10px 0 15px;
	width:60px;
	height:19px
}
.pdLink {
	color:#0072BC;
	padding-bottom:2px
}
/**/td {
	font-size:12px
}
.pLnk {
	color:#888;
	padding-bottom:2px
}
.pDetailsItem {
	color:#666;
	padding-bottom:2px
}
.pDetailsTitleMed, .pDetailsTitleLg {
	font-size:12px;
	font-weight:bold;
	color:#666
}
.productListOn {
	CURSOR:pointer;
	BACKGROUND-COLOR:#f3fef9
}
.productListOff {
	BACKGROUND-COLOR:#fff
}
.productListSelected {
	BACKGROUND-COLOR:#f1f7fe
}
.pttl {
	COLOR:#666;
	LINE-HEIGHT:13px
}
.ProductDisplayTitle {
	COLOR:#000
}
.pDsp {
	FONT-WEIGHT:normal;
	FONT-SIZE:10px;
	COLOR:#666;
	LINE-HEIGHT:13px
}
.pDsp41 {
	FONT-WEIGHT:normal;
	FONT-SIZE:10px;
	COLOR:#666;
	LINE-HEIGHT:13px;
	height:38px
}
.productheader {
	VERTICAL-ALIGN:middle;
	COLOR:#000;
	LINE-HEIGHT:10px
}
.productpagedisplayavail {
	PADDING-BOTTOM:4px;
	COLOR:#88885c;
	LINE-HEIGHT:13px
}
.pagetopagenav {
	PADDING-RIGHT:2px;
	PADDING-LEFT:2px;
	PADDING-TOP:1px;
	TEXT-ALIGN:center
}
.pagetopagenavactive {
	PADDING-RIGHT:2px;
	PADDING-LEFT:2px;
	FONT-WEIGHT:bold;
	COLOR:#fff;
	BACKGROUND-COLOR:#666
}
.pType {
	VERTICAL-ALIGN:middle;
	TEXT-ALIGN:center;
	color:#666;
	font-size:10px;
	LINE-HEIGHT:15px;
	TEXT-DECORATION:none;
	padding-bottom:3px;
	background-color:#f8f8f8
}
.PageNavLinks {
	FONT-WEIGHT:bold;
	COLOR:#666;
	TEXT-ALIGN:left;
	TEXT-DECORATION:none
}
.galleryPriceRed {
	COLOR:#b31b34;
	FONT-SIZE:11px;
	FONT-STYLE:italic;
	TEXT-DECORATION:line-through
}
.galleryPriceStrike {
	COLOR:#666;
	FONT-SIZE:11px;
	TEXT-DECORATION:line-through
}
.gallerySalePrice {
	COLOR:#ED1C24;
	font-weight:bold;
	font-style:italic
}
#galleryTopInfo {
	color:#666;
	margin-left:2px
}
#pageNav {
	text-align:left;
	width:100%;
	padding-top:0
}
#pageNav h1 {
	margin-top:16px
}
#pageNav a {
	padding-left:4px;
	padding-right:4px;
	text-decoration:none
}
#galleryTopInfo .galleryTitle {
	font-size:13px;
	font-weight:bold;
	color:#4C3327
}
#galleryTopInfo .sortBox {
	padding-top:4px
}
#galleryTopInfo .galleryTopRight {
	text-align:right;
	line-height:150%;
	vertical-align:bottom;
	font-size:10px;
	color:#666
}
#galleryTopInfo .galleryTopRight a:link {
	font-size:10px;
	color:#0072BC
}
#galleryTopInfo .sortForm {
	display:inline;
	margin:0;
	padding:0;
	height:1px;
	padding-top:3px
}
.galmatchbread {
	width:470px;
	float:left;
	padding-top:20px;
	text-decoration:none
}
.galmatchbox {
	border-top:1px solid #ddd;
	clear:both;
	width:586px;
	padding:5px
}
.galmatchitem {
	width:100px;
	float:left;
	text-align:center
}
.galmatchimage {
	border:0;
	padding:0 10px
}
.wrap1 {
	float:left;
	background:transparent
}
.wrap2 {
	background:transparent
}
.wrap3 {
	padding:0 11px 11px 0;
}
.wrap3 img {
	display:block
}
.canvaswrap1, .canvaswrap2, .canvaswrap3 {
	display:block
}
.canvaswrap1 {
	float:left;
	background:transparent
}
.canvaswrap2 {
	background:#transparent
}
.canvaswrap3 {
	padding:0 20px 20px 0;
	background:transparent
}
.canvaswrap3 img {
	display:block
}
.canvaswhitewrap1 {
	float:left;
	background:transparent
}
.canvaswhitewrap2 {
	background:transparent
}
.canvaswhitewrap3 {
	padding:0 20px 20px 0;
	background:transparent
}
.canvaswhitewrap3 img {
	display:block
}
.thumbContainer {
	text-align:center
}
#quickViewContainer {
	display:none
}
.galmin_top_space {
	line-height:0;
	width:584px
}
.centerImage_position {
	position:relative;
	margin-left:auto;
	margin-right:auto
}
.holiday_MSG_height {
	height:39px
}
#pageNav .view_per_page {
	font-weight:normal;
	font-size:12px;
	margin-right:19px;
	padding:5px 0
}
#pageNav .view_per_page ul {
	list-style-type:none;
	margin:0;
	padding:0
}
#pageNav .view_per_page ul li {
	float:left;
	padding:1px 4px;
	cursor:text
}
#pageNav .view_per_page span {
	cursor:pointer
}
#pageNav .view_per_page span#per_page_selected {
	font-weight:bold;
	color:#000;
	cursor:text
}
#pageNav .view_per_page li.linkHover {
	text-decoration:none
}
.CategHeader {
	font-size:36px;
	color:#222;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	padding:11px 0
}
.CategHeader h1 {
	margin:0;
	font-size:36px;
	float:left;
	font-weight:normal
}
.CategHeaderCount {
	font-size:12px;
	color:#888;
	margin-left:10px;
	text-transform:capitalize
}
.gal-wrapper {
	position:relative;
	float:left;
	width:185px;
	text-transform:uppercase
}
.galThumbContainer {
	float:left;
	width:190px;
	border:0 solid #EFEFEF;
	margin:2px 0;
	color:#000;
	font-size:12px
}
.galDetailsContainer {
	margin:12px 0 0 20px;
	height:65px
}
.galImageContainer {
	
	border:1px solid #dfdfdf
}
.galImageCell {
	height: 295px;
   
	
	display:table-cell;
	vertical-align:center;
	text-align:center;
}
.galImage {
	cursor:pointer;
	margin:0 auto;
	
	max-height:200px;
}
.galTitle {
	cursor:pointer;
	margin-bottom:2px
}
.gal-zoom-text .galTitle {
	color:#000
}
.galTitle, .galThePrice {
	font-size:15px
}
.galArtistProduct {
	color:#888;
	margin-bottom:0;
	min-height:45px
}
.gal-artist {
	color:#494848;
	text-decoration:underline!important
}
.galThumbContainer .gal-product-size-block {
	display:none
}
.galProductType {
	white-space:nowrap;
	cursor:pointer
}
.gal-type-size {
	overflow:hidden;
	color:#888;
	margin-top:12px;
	line-height:140%
}
.gal-product-size-multi {
	text-decoration:none;
	cursor:pointer;
	white-space:nowrap;
	float:left
}
.gal-product-size-multi:hover {
	color:#EF9223
}
.galPricing.sale .galPrice {
	color:#888;
	margin-right:4px;
	margin-top:3px;
	text-decoration:line-through;
	cursor:pointer
}
.galSalePrice {
	color:#EF4523;
	cursor:pointer
}
.galPrice {
	cursor:pointer
}
.galActionsContainer {
	height:25px;
	position:relative;
	margin:2px 0 2px 12px;
	display:block
}
.galActions {
	font:14px 'BebasNeueRegular', Arial, sans-serif;
	text-align:center;
	position:absolute;
	bottom:0;
	letter-spacing:.02em;
	z-index:1
}
.galActions .galButton, .galgobackbutton {
	float:left;
	border:1px solid #DDD;
	padding:2px 10px;
	cursor:pointer
}
.galActions .galAddToCart {
	margin-right:10px;
	color:#EF9223
}
.galActions .galFrameIt {
	color:#000;
	padding:2px 18px
}
.gal-product-size {
	cursor:pointer
}
.gal-filter-icon {
	display:block;
	float:left;
	width:14px;
	height:14px
}
.gal-hover {
	text-decoration:underline;
	color:#EF9223
}
.galActionsContainer .galAddToCart, .galActionsContainer .galFrameIt, .galgobackcontainer {
	background:#fff;
	background:-moz-linear-gradient(top, #fff 40%, #efefef 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), color-stop(100%, #efefef));
	background:-webkit-linear-gradient(top, #fff 40%, #efefef 100%);
	background:-o-linear-gradient(top, #fff 40%, #efefef 100%);
	background:-ms-linear-gradient(top, #fff 40%, #efefef 100%);
	background:linear-gradient(top, #fff 40%, #efefef 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0)
}
.gal-zoom-add-to-cart.hover, .gal-zoom-frame-it {
	background-color:#faa21b;
}
.gal-zoom-frame-it {
	color:#fff
}
.gal-zoom-add-to-cart {
	color:#FFF;
	background-color:#000;
}
.galActionsContainer .galAddToCart.hover {
	color:#FFF;
	background:#faa21b;
	background:-moz-linear-gradient(top, #ef9223 40%, #f07c23 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(40%, #ef9223), color-stop(100%, #f07c23));
	background:-webkit-linear-gradient(top, #ef9223 40%, #f07c23 100%);
	background:-o-linear-gradient(top, #ef9223 40%, #f07c23 100%);
	background:-ms-linear-gradient(top, #ef9223 40%, #f07c23 100%);
	background:linear-gradient(top, #ef9223 40%, #f07c23 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef9223', endColorstr='#f07c23', GradientType=0);
	border:1px solid #ee7a25
}
.galActionsContainer .galFrameIt.hover, .gal-zoom-frame-it.hover {
	color:#FFF;
	background:0;
	filter:none;
	background-color:#000
}
.gal-frame-it-disabled {
	visibility:hidden
}
.gal-zoom-frame-it.disabled, .gal-zoom-frame-it.disabled.hover {
	color:#DDD!important;
	cursor:default!important
}
@media \0screen {
.gal-zoom-frame-it.disabled, .gal-zoom-frame-it.disabled.hover {
	letter-spacing:.01em
}
}
#gal-prodtype-tt {
	display:none;
	position:absolute;
	background-color:#FFF;
	width:270px;
	z-index:1000
}
.gal-prodtype-title {
	background-color:#F1F1F1;
	padding:10px 12px;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	letter-spacing:.06em
}
.gal-prodtype-desc, .gal-prodtype-learn-more {
	margin:10px 12px
}
.gal-prodtype-learn-more {
	text-decoration:underline;
	cursor:pointer;
	float:left;
	margin-top:0
}
.gal-prodtype-learn-more.hover {
	color:#EF9223
}
.gal-prodtype-arrow {
	width:15px;
	height:15px;
	position:absolute;
	margin-left:14px;
	background-color:#CCC;
	z-index:1001
}
.gal-pagnav-border {
	border-bottom:1px solid #D6D6D6
}
.gal-nav-container {
	border-top:1px solid #D6D6D6;
	margin-top:30px
}
.gal-gotop {
	width:65px;
	float:left;
	padding-top:5px;
	text-decoration:underline
}
#gal-zoom {
	display:none;
	padding:18px;
	position:absolute;
	z-index:9998;
	background-color:#ffffff;
	box-shadow: 2px 2px 15px #888888;
}
#gal-zoom-inner {
	margin:6px;
	padding-top:13px
}
#gal-zoom-text-container {
	padding:0 13px
}
#gal-zoom/*, #gal-zoom-inner*/ {
	border:1px solid #D6D6D6
}
.gal-zoom-image {
	margin:0 auto;
	display:block;
	cursor:pointer
}
.gal-zoom-details {
	margin-top:12px
}
.gal-size-multi {
	color:#000
}
#gal-zoom .gal-product-size, #gal-zoom .gal-product-size-multi {
	display:block
}
#gal-zoom .gal-artist-prod-seperator {
	display:none
}
.galPricing {
	color:#000
}
.gal-zoom-details .galArtistProduct div {
	margin-top:2px
}
.gal-zoom-actions {
	margin:12px auto 24px;
	width:286px
}
.gal-button-icon-group {
	float:left;
	width:140px;
	letter-spacing:.02em
}
.gal-zoom-actions .gal-button-icon-group:first-child {
	margin-right:6px
}
.gal-zoom-actions .gal-button {
	cursor:pointer;
	padding:4px 10px 1px 10px;
	font:18px 'MyriadProRegular', Arial, sans-serif;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:12px;
	padding:10px 5px;
}
.gal-zoom-add-to-cart.hover {
	color:#fff
}
.gal-zoom-actions .gal-icon-button {
	text-transform:uppercase;
	color:#888;
	cursor:pointer
}
.gal-zoom-actions .gal-icon {
	float:left;
	margin-right:6px;
	height:19px
}
.gal-zoom-actions .gal-find-similar .gal-icon {
	background-position:-25px -313px;
	width:30px
}
.gal-zoom-actions .gal-save-to-gallery .gal-icon {
	background-position:-65px -313px;
	width:21px
}
.gal-zoom-actions .gal-icon-button.hover {
	color:#EF9223
}

.gal-icon-new{ width:27px;height:27px;background:url(../images/favourite-off.png) no-repeat;}
.gal-icon-new:hover{background:url(../images/favourite-on.png) no-repeat;}

.gal-zoom-actions .gal-find-similar.hover .gal-icon {
	background-position:-25px -337px;
	width:30px
}
.gal-zoom-actions .gal-save-to-gallery.hover .gal-icon {
	background-position:-65px -337px;
	width:21px
}
#gal-zoom .galProductType {
	margin-top:2px
}
#gal-zoom .galDetailsContainer {
	height:auto;
	margin:0
}
