body {
	line-height: 1;
	height: 100%;
	width: 100%;
	position: relative;
}

.news {
	background: #000;
	padding: 0 5px;
	color: #FFF;
	width: 100%;
	line-height: 2;
	text-align: right;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0
}
a:focus,
a:hover {
    text-decoration: none  !important;;
}



@media(max-width:479px) {
    #menu {
        display: none
    }
    .hamburger {
        display: block !important;
    }
	.ourr-room div > a {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 14px;
		padding: 5px 20px;
		position: absolute;
		/* width: 119px; */
		right: 15px;
	}
	.art-style aside p {
		margin: 0;
		border-bottom: solid 1px #bcbcbc;
		border-top: solid 1px #bcbcbc;
		font-size: 12px !important;
		text-transform: uppercase;
		color: #000;
		font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
		font-size: ;
	}
	.bg {
	height: 210px;
	overflow: hidden;
	padding-right: 0;
}

	.bg_content{
	  background-color: #eee;
	  font-size: 14px;
	  height: 210px;
	}
	.margn{margin:2px 0;}

	.margn h4 {
		font-size: 20px !important;
		margin: 5px 0 0;
	}
	.bg_content p {
	font-size: 12px;
	font-weight: normal;
	}	

	#map_area_01, #map_area_02 {
		width: 40px ;
		top: 54px ;
		height: 14px;
	}
	#map_area_01, #map_area_02 {
		width: 40px !important;
		top: 54px !important;
		height: 14px !important;
	}
	#map_area_03 {
		width: 33px !important;
		left: 20px !important;
		height: 11px !important;
	}
	#map_area_04 {
		width: 36px !important;
		left: 91px !important;
		height: 11px!important;
	}
	#map_area_05 {
		width: 34px!important;
		left: 164px!important;
		height: 11px!important;
	}
	#map_area_06 {
		width: 32px!important;
		left: 238px!important;
		height: 11px!important;
	}
	img.logo_mg {
		width: 240px;
		float: right;
	}
	.news {
		text-align: center !important;
	}

}


@media only screen and (min-width: 479px)
{
	  img.logo_mg {
	  width: auto;
	  float: none;
	}
}

@media(max-width:767px) {
    #menu {
        display: none
    }
    .hamburger {
        display: block !important;
    }
    .search-input {
        padding: 10px 10px 0
    }
    .top-cate h1 {
        background: rgba(0, 0, 0, 0) url("../img/icon_category.jpg") no-repeat scroll 35% 0 / 21px auto
    }
    h1.ttto::before {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 30%
    }
    h1.ttto::after {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 28% !important;
    }
    .buttonslide {
        font-size: 11px !important;
    }
    .centers {
        color: #fff;
        letter-spacing: 0;
        width: 100%;
        font-size: 7pt !important;
    }
    h1.text-font {
        color: #fff;
        display: inline-block;
        font-family: Oswald;
        font-size: 15pt;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 100%;
        text-shadow: 2px 2px 15px #222;
        width: 100%
    }
    .artist_Photo .artist_tag {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        color: #fff;
        font-size: 13px;
        opacity: .9;
        padding: 6px;
        position: absolute;
        width: 100%;
        z-index: 1000
    }
	.list ul li {
		background: rgba(0, 0, 0, 0) url(../img/bulet.png) no-repeat scroll 0 8px;
		font-size: 10px;
		list-style: outside none none;
		margin: 0;
		padding: 4px 4px 4px 12px;
		word-wrap: break-word;
		word-break: break-all;
	}
    .pagination span {
        color: #00f;
        font-size: 8px !important;
    }
	.art-style aside p {
		font-size: 18px !important;
		letter-spacing: 1px !important;
		word-wrap: break-word;
		word-break: break-all;
	}
	.left-panel-page {
		width: 14%;
		padding-right: 0;
	}
    .right-panel-page {
        border-left: 1px solid #ccc;
        float: left;
        padding-left: 25px;
        width: 84%
    }
    .footer-content div ul li a {
        color: #fff;
        font-size: 9px;
        padding-left: 20px;
        text-transform: uppercase
    }
    .footer-content.container > div {
        margin-top: 20px;
    }
    .footer-content.container > div:nth-child(3) {
        clear:both
    }
	#slide{display:none}
	.bg {
	height: 210px;
	overflow: hidden;
	padding-right: 0;
}

	.bg_content{
	  background-color: #eee;
	  font-size: 14px;
	  height: 210px;
	}
	.margn{margin:2px 0;}
	.artist_Photo {
		margin: 15px 0;
	}
	.career-page h3 {
		font-size: 22px !important;
	}
	.faqquestion p strong {
		font-size: 12px !important;
	}
	.viwepr.pull-right {
	float: left !important;
	}

    .shopTopCategories {
        column-width: 10em
    }
    .shopTopCategories .category {
        width: 13em
    }

	.shopTopCategories {
		box-sizing: border-box;
		column-gap: 0 !important;
		margin: 0 auto -16px;
		max-width: 100%;
		text-align: center;
	}
	.decorative-r-c {
		margin-top: 20px;
	}
	.menu-list li a {
		color: #777;
		display: inline-block;
		font-family: "Open Sans",Arial,Helvetica,sans-serif;
		font-size: 13px;
		font-weight: normal;
		padding: 15px 10px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	a.cart_li {
		position: relative !important;
		display: inline-block !important;
		padding: 6px 10px !important;
	}
	.thems-our1 p {
		font-size: 13px !important;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		padding: 5px 0px !important;
	}
		#gal-customcombobox {
		overflow: hidden;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('http://dev.wallsnart.com/uploaded_pdf/Gallery_ImageSprite.png') no-repeat -25px -96px;
		padding: 2px;
		width: 233px;
		height: 28px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		border: 0;
		font-size: 11px;
		font-weight: normal;
		color: #888;
	}
	.ourr-room div > a {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 14px;
		padding: 5px 20px;
		position: absolute;
		/* width: 119px; */
		right: 15px;
	}
	a.read_more {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 11px;
		padding: 5px 20px;
		display: inline-block;
		float:right;
		margin-top:2px
	}

	.footer-content div h1 {
		margin: 0;
		padding: 0;
		font-size: 14px;
		color: #fff;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
	}
	
	.margn h5 {
		font-family: "BebasNeueRegular" !important;
		font-size: 20px;
		font-weight: 500;
		margin: 5px 0;
		text-transform: uppercase;
	}
	.frame-it-right-panel {
		width: 300px;
		height: auto;
		background: #fff;
		padding: 25px 18px;
		/* float: right; */
		position: relative;
		font-size: 11px;
		box-shadow: 0 2px 12px #888;
		-webkit-box-shadow: 0 2px 12px #888;
		-moz-box-shadow: 0 2px 12px #888;
		/* margin-bottom: 20px; */
		margin: 0 auto;
	}
	ul.choose-colors-type {
		max-height: 60px !important;
	}
	.choose-colors {
		font-size: 11px !important;
	}
	.choose-colors-type a {
		font-size: 10px !important;
	}
	#content {
		height: 360px !important;
	}
	
	#socialleft {
		display: none;
	}
	#map_area_01, #map_area_02 {
		width: 62px;
		top: 85px;
		height: 20px;
	}
	#map_area_03 {
		width: 51px;
		left: 32px;
		height: 18px;
	}
	#map_area_04 {
		width: 56px;
		left: 142px;
		height: 18px;
	}
	#map_area_05 {
		width: 50px;
		left: 256px;
		height: 18px;
	}
	#map_area_06 {
		width: 50px;
		left: 369px;
		height: 18px;
	}
	.news {
		text-align: center !important;
	}	
/*	photostoart
*/
	.top_slider_content {
		position: relative !important;
		left: 0;
		right: 0 !important;
		margin: 0 auto;
		width:auto !important;
	}
	#uploader_popup_goofy_a {
		top: 60px !important;
		width: 480px !important;
		margin-left: -240px !important;
	}
/*	photostoart_inner
*/
	.addtocartcontainer_page, .addtocartcontainer_page3 {
		width: 100% !important;
	}
	.pull-right.add_photo {
		margin-right: 145px !important;
	}
}


@media(min-width:320px) and (max-width:479px) {
	.left-panel-page {
		width: 30%;
		padding-right: 0;
	}
	
	.right-panel-page {
		border-left: 1px solid #ccc;
		padding-left: 25px;
		width: 70%;
	}
	.artist_Photo {
		margin: 15px 0;
	}
	.heart_details {
		float: left !important;
	}
/*	photostoart
*/
	.top_slider_content h1 {
		font-size: 45px !important;
	}
	#uploader_popup_goofy_a {
		top: 60px !important;
		width: 320px !important;
		margin-left: -160px !important;
	}
	.popup-default-message > h2 {
		color: #ef9223;
		font-size: 15px;
		line-height: 10px;
		cursor: pointer;
		padding-bottom: 10px;
	}
	.uploader_popup_upload-icon {
		height: 290px !important;
	}
}

@media(min-width:768px) and (max-width:991px) {
    #menu {
        display: none
    }
    .hamburger {
        display: block !important;
    }
    .fll {
        float: inherit;
        margin: 0 auto
    }
    .sub-hor {
        margin: 115px 0 21px;
        width: 100%
    }
    h1.ttto::before {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 36%
    }
    h1.ttto::after {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 30%
    }
    .ourr-room>div {
        bottom: 5px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center
    }
    .our-room {
        height: 158px !important;;
        margin-bottom: 13px
    }
    .margn.box {
        height: 212px
    }
    .search-input {
        padding: 10px
    }
    .first-a>a {
        height: 140px !important;;
        width: 150px !important;
    }
    .first-b>a {
        height: 90px !important;;
        width: 150px !important;
    }
    .modern-a>a {
        height: 120px !important;;
        width: 145px !important;
    }
    .modern-b>a {
        height: 110px !important;;
        width: 145px !important;
    }
    .fiine-a>a {
        height: 170px !important;;
        width: 120px !important;
    }
    .animals-b>a {
        height: 90px !important;;
        width: 150px !important;
    }
    .modern-a>a {
        height: 90px !important;;
        width: 115px !important;
    }
    .modern-b>a {
        height: 80px !important;;
        width: 115px !important;
    }
    .photography-a>a {
        height: 140px !important;;
        width: 150px !important;
    }
    .photography-b>a {
        height: 140px !important;;
        width: 120px !important;
    }
    .photography-a img {
        height: 100%;
        width: 100%
    }
    .line {
        width: 100%
    }
    .footer-content {
        width: 90%
    }
    .top-cate h1 {
        font-size: 30px
    }
    figcaption {
        font-size: 14px !important;
    }
    .galcont.col-md-3 {
        margin: 10px 0 !important;
    }
    .galcont.col-md-3 img {
        width: 90%
    }
    .cat-cont-outer {
        width: auto !important;
    }
    .galcont.col-md-3>p {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        bottom: -8px;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        width: 80%
    }
    .galcont.col-md-3>p {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        bottom: -10px;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        width: 74%
    }
    .artist_Photo .artist_tag {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        color: #fff;
        font-size: 13px;
        opacity: .9;
        padding: 6px;
        position: absolute;
        width: 100%;
        z-index: 1000
    }
    .shopTopCategories {
        column-width: 15em
    }
    .shopTopCategories .category {
        width: 18em
    }
    .footer-content div ul li a {
        color: #fff;
        font-size: 11px;
        padding-left: 20px;
        text-transform: uppercase
    }
    .footer-content div h1 {
        color: #fff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        margin: 0;
        padding: 0;
        text-transform: uppercase
    }
    .collections-one ul {
        margin-top: 155px !important;
    }
    .artist_Photo {
        margin: 15px 0;
    }
    .list ul li {
        background: rgba(0, 0, 0, 0) url("../img/bulet.png") no-repeat scroll 0 8px;
        font-size: 14px;
        list-style: outside none none;
        margin: 0;
        padding: 4px 4px 4px 12px;
	    word-wrap: break-word;
	    word-break: break-all;

    }
    .left-panel-page {
        float: left;
        width: 14%;
		padding-right:0
    }
    .right-panel-page {
        float: left;
        width: 86%;
        padding-left: 25px;
        border-left: 1px solid #ccc
    }

    #sub-pic {
        float: left;
        padding: 10px;
        width: 115px !important;
    }
	.bg {
	height: 210px;
	overflow: hidden;
	padding-right: 0;
}

	.bg_content{
	  background-color: #eee;
	  font-size: 14px;
	  height: 210px;
	}
	.margn{margin:2px 0;}
	.margn h5 {
		font-family: "BebasNeueRegular" !important;
		font-size: 20px;
		font-weight: 500;
		margin: 5px 0;
		text-transform: uppercase;
	}
	.choose-colors {
		font-size: 12px !important;
		width: auto !important;
	}
	.menu-list li a {
		color: #777;
		display: block;
		font-family: "Open Sans",Arial,Helvetica,sans-serif;
		font-size: 11px;
		font-weight: normal;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	a.cart_li {
		position: relative !important;
		display: inline-block !important;
		padding: 0 10px !important;
	}
	.thems-our1 p {
		font-size: 13px !important;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		padding: 5px 0px !important;
	}

		#gal-customcombobox {
		overflow: hidden;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('http://dev.wallsnart.com/uploaded_pdf/Gallery_ImageSprite.png') no-repeat -25px -96px;
		padding: 2px;
		width: 233px;
		height: 28px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		border: 0;
		font-size: 11px;
		font-weight: normal;
		color: #888;
	}
	a.read_more {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 14px;
		padding: 5px 20px;
		display: inline-block;
		float:right
	}
	.frame-it-right-panel {
		width: 300px;
		height: auto;
		background: #fff;
		padding: 25px 18px;
		float: right;
		position: relative;
		font-size: 11px;
		box-shadow: 0 2px 12px #888;
		-webkit-box-shadow: 0 2px 12px #888;
		-moz-box-shadow: 0 2px 12px #888;
		margin-bottom: 20px;
	}
	#map_area_01, #map_area_02 {
		width: 100px ;
		top: 135px;
		height: 33px;
	}
/*	photostoart
*/
	.top_slider_content {
		width: 240px !important;
		padding: 0 !important;
	}
	.top_slider_content h1 {
		font-size: 35px !important;
		letter-spacing: 1px !important;
		line-height: 38px !important;
	}
	.p_top-slider {
		font-size: 12px !important;
		line-height: 1.2 !important;
		padding: 0 !important;
	}
	.button-slider-upload {
		font-size: 14px !important;
		line-height: 1 !important;
	}
	#itemslider h5 {
		font-size: 12px !important;
	}
/*	photostoart_inner
*/
	.addtocartcontainer_page, .addtocartcontainer_page3 {
		width: 100% !important;
	}
	.pull-right.add_photo {
		margin-right: 180px !important;
	}
}


@media(min-width:992px) and (max-width:1199px) {
    h1.ttto::before {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 38%
    }
    h1.ttto::after {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 34%
    }

    .margn h5 {
        font-family: "BebasNeueRegular" !important;;
        font-size: 20px !important;;
        font-weight: 500;
        margin: 5px 0;
        text-transform: uppercase
    }
    .bg.margn>p {
        font-size: 13px !important;
    }
    .search-input {
        padding: 10px;
    }
    .top-cate h1 {
        font-size: 35px
    }
    .first-a>a {
        height: 170px !important;;
        width: 180px !important;
    }
    .first-b>a {
        height: 120px !important;;
        width: 180px !important;
    }
    .modern-a>a {
        height: 150px !important;;
        width: 175px !important;
    }
    .modern-b>a {
        height: 140px !important;;
        width: 175px !important;
    }
    .fiine-a>a {
        height: 200px !important;;
        width: 150px !important;
    }
    .animals-b>a {
        height: 120px !important;;
        width: 180px !important;
    }
    .modern-a>a {
        height: 120px !important;;
        width: 145px !important;
    }
    .modern-b>a {
        height: 110px !important;;
        width: 145px !important;
    }
    .photography-a>a {
        height: 170px !important;;
        width: 180px !important;
    }
    .photography-b>a {
        height: 170px !important;;
        width: 150px !important;
    }
    .photography-a img {
        height: 100%;
        width: 100%
    }

    .line {
        width: 100%
    }
    .footer-content {
        width: 90%
    }
    .galcont.col-md-3 {
        margin: 10px 0 !important;
    }
    .galcont.col-md-3 img {
        width: 90%
    }
    .cat-cont-outer {
        width: auto !important;
    }
    .galcont.col-md-3>p {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        bottom: -9px;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        width: 78%
    }
    .artist_Photo .artist_tag {
        background-color: rgba(0, 0, 0, 0.5) !important;;
        bottom: 0 !important;;
        color: #fff !important;;
        font-size: 13px !important;;
        opacity: .9 !important;;
        padding: 6px !important;;
        position: absolute !important;;
        width: 100% !important;;
        z-index: 1 !important;
    }
    .shopTopCategories {
        column-width: 15em
    }
    .shopTopCategories .category {
        width: 18em
    }
    .artist_Photo {
        margin: 15px 0;
    }
    .list ul li {
        background: rgba(0, 0, 0, 0) url("../img/bulet.png") no-repeat scroll 0 8px;
        font-size: 14px;
        list-style: outside none none;
        margin: 0;
        padding: 4px 4px 4px 12px
    }
	.left-panel-page {
		float: left;
		width: 14%;
		padding-right: 0;
	}
    .right-panel-page {
        float: left;
        width: 86%;
        padding-left: 25px;
        border-left: 1px solid #ccc
    }

    #sub-pic {
        float: left;
        height: auto;
        margin-bottom: 2px;
        padding: 10px;
        width: 151px !important;
    }
	.bg {
	height: 210px;
	overflow: hidden;
	padding-right: 0;
}

	.bg_content{
	  background-color: #eee;
	  font-size: 14px;
	  height: 210px;
	}
	.margn{margin:2px 0;}

    .collections-one ul {
        margin-top: 200px !important;
    }
	.menu-list li a {
		color: #777;
		display: block;
		font-family: "Open Sans",Arial,Helvetica,sans-serif;
		font-size: 11px;
		font-weight: normal;
		padding: 15px 7px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	a.cart_li {
		position: relative !important;
		display: inline-block !important;
		padding: 6px 10px !important;
	}

	.thems-our1 p {
		font-size: 13px !important;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		padding: 5px 0px !important;
	}
	#menu ul li > a {
		display: block;
		color: #FFF;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		padding: 11px 16px 10px 0;
		font-size: 13px;
		letter-spacing: 1.25px;
	}
		#gal-customcombobox {
		overflow: hidden;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('http://dev.wallsnart.com/uploaded_pdf/Gallery_ImageSprite.png') no-repeat -25px -96px;
		padding: 2px;
		width: 233px;
		height: 28px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		border: 0;
		font-size: 11px;
		font-weight: normal;
		color: #888;
	}
	a.read_more {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 14px;
		padding: 5px 20px;
		display: inline-block;
		float:right
	}
	.frame-it-right-panel {
		width: 300px;
		height: auto;
		background: #fff;
		padding: 25px 18px;
		float: right;
		position: relative;
		font-size: 11px;
		box-shadow: 0 2px 12px #888;
		-webkit-box-shadow: 0 2px 12px #888;
		-moz-box-shadow: 0 2px 12px #888;
		margin-bottom: 20px;
	}
	
	#map_area_01, #map_area_02 {
		width: 130px;
		top: 176px;
		height: 43px;
	}
	#map_area_03 {
		width: 103px;
		left: 67px;
		height:35px;
	}
	#map_area_04 {
		width: 116px;
		left: 296px;
		height:35px;
	}
	#map_area_05 {
		width: 103px;
		left: 534px;
		height:35px;
	}
	#map_area_06 {
		width: 103px;
		left: 771px;
		height:35px;
	}
}
@media(min-width:1200px) {
    h1.ttto::before {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 38%
    }
    h1.ttto::after {
        background: #000 none repeat scroll 0 0;
        border-radius: 42px;
        content: "";
        height: 1px;
        position: absolute;
        right: 0;
        top: 15px;
        width: 34%
    }
    .search-input {
        padding: 10px;
    }
	.search-input input {
		padding: 6px 5px !important;
	}
    .galcont.col-md-3 {
        margin: 10px 0 !important;
    }
    .galcont.col-md-3 img {
        width: 90%
    }
    .cat-cont-outer {
        width: auto !important;
    }
    .galcont.col-md-3>p {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
        bottom: -9px;
        color: #fff;
        font-size: 14px;
        padding: 5px;
        position: absolute;
        width: 80%
    }
	.artist_Photo .artist_tag {
		background-color: rgba(0, 0, 0, 0.5)  !important;;
		bottom: 0  !important;;
		color: #fff  !important;;
		font-size: 13px  !important;;
		opacity: .9  !important;;
		padding: 6px  !important;;
		position: absolute  !important;;
		width: 100%  !important;;
		z-index: 2  !important;;
		font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
    .shopTopCategories {
        column-width: 15em
    }
    .shopTopCategories .category {
        width: 18em
    }
    .artist_Photo {
        margin: 15px 0;
    }
    .list ul li {
        background: rgba(0, 0, 0, 0) url("../img/bulet.png") no-repeat scroll 0 8px;
        font-size: 14px;
        list-style: outside none none;
        margin: 0;
        padding: 4px 4px 4px 12px
    }
    .left-panel-page {
        float: left;
        width: 14%;
		padding-right:0
    }
    .right-panel-page {
        float: left;
        width: 86%;
        padding-left: 25px;
        border-left: 1px solid #ccc
    }
    #sub-pic {
        float: left;
        height: auto;
        margin-bottom: 2px;
        padding: 10px;
        width: 180px !important;
    }
	.menu-list li a {
		color: #777;
		display: block;
		font-family: "Open Sans",Arial,Helvetica,sans-serif;
		font-size: 13px;
		font-weight: normal;
		padding: 15px 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	a.cart_li {
		position: relative !important;
		display: inline-block !important;
		padding: 6px 10px !important;
	}

    .collections-one ul {
        margin-top: 250px !important;
    }
    .margn h5 {
        font-family: "BebasNeueRegular" !important;;
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0;
        text-transform: uppercase
    }
    .bg.margn>p {
        font-size: 13px
    }
		.bg {
		height: 210px;
		overflow: hidden;
		padding-right: 0;
	}
	
	.bg_content{
	  background-color: #eee;
	  font-size: 14px;
	  height: 210px;
	}
	.margn{margin:2px 0;}

	#menu ul li > a {
	  display: block;
	  color: #FFF;
	  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	  padding: 11px 16px 10px 0;
	  font-size: 13px;
	  letter-spacing: 1.25px;
	}
	.thems-our1 p {
		font-size: 13px !important;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		padding: 5px 0px !important;
	}
		#gal-customcombobox {
		overflow: hidden;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('http://dev.wallsnart.com/uploaded_pdf/Gallery_ImageSprite.png') no-repeat -25px -96px;
		padding: 2px;
		width: 233px;
		height: 28px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		border: 0;
		font-size: 11px;
		font-weight: normal;
		color: #888;
	}
	.search-input button {
		padding: 0 !important;
		margin-top:0 !important
	}
	a.read_more {
		background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		color: #fff;
		font-size: 14px;
		padding: 5px 20px;
		display: inline-block;
		float:right
	}
	.frame-it-right-panel {
		width: 300px;
		height: auto;
		background: #fff;
		padding: 25px 18px;
		float: right;
		position: relative;
		font-size: 11px;
		box-shadow: 0 2px 12px #888;
		-webkit-box-shadow: 0 2px 12px #888;
		-moz-box-shadow: 0 2px 12px #888;
		margin-bottom: 20px;
	}
	#map_area_01, #map_area_02 {
		position: absolute;
		width: 160px;
		top: 215px;
		height: 52px;
		left: 0;
	}
	#map_area_03 {
		width: 126px;
		left: 81px;
		height:44px;
	}
	#map_area_04 {
		width: 141px;
		left: 359px;
		height:44px;
	}
	#map_area_05 {
		width: 126px;
		left: 648px;
		height:44px;
	}
	#map_area_06 {
		width: 126px;
		left: 935px;
		height:44px;
	}
}
@media(min-width:1600px) {
    .artist_Photo .artist_tag {
        width: 100% !important;
    }
    .shopTopCategories {
        column-width: 21em !important;
    }
    .shopTopCategories .category {
        width: 22em !important;
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        height: auto
    }
}
@media(min-width:1900px) {
    .artist_Photo .artist_tag {
        width: 100% !important;
    }
    .shopTopCategories {
        column-width: 24em !important;
    }
    .shopTopCategories .category {
        width: 25em !important;
    }
}
@media(min-width:2500px) {
    .artist_Photo .artist_tag {
        width: 100% !important;
    }
    .shopTopCategories {
        column-width: 49em !important;
    }
    .shopTopCategories .category {
        width: 50em !important;
    }
}