@charset "utf-8";
/* CSS Document */


/*text/css style.css ( ASCII C program text, with CRLF line terminators )*/

body {
	margin:0;
	padding:0;
	font-size:12px;
	color:#333;
}

.search-input button {
	background: none;
	padding: 2px 5px;
	margin-top: -3px;
	position: absolute;
	right: 14px;
}
 
    .search-input:focus + button {
        z-index: 3;   
    }
    
	
	
	

@font-face{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	src:url("helveticaneue.ttf");
}

@font-face{
	font-family: "BebasNeueRegular";
	src:url("BebasNeueRegular.ttf");
}


@font-face{
	font-family: 'Oswald'; 
	src:url("Oswald-Regular.ttf");
}

@font-face{
	 font-family: 'Flood';
	src:url("ufonts.com_flood.ttf");
}


article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
	border-top:solid 2px #444 !important;
}

.cart-size { font-size:30px;}
#s{ text-transform:uppercase;}

.hdr-cart-count {
    background: #ff9800;
    border: solid 2px white;
    border-radius: 10px;
    color: white;
    display: block;
    text-align: center;
    height: 0;
    min-width: 10px;
    padding: 8px 3px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    font-size: 10px;
    font-weight: normal;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    line-height: 0;
}

.navbar{ border:none !important;}
.news{ background:#000; padding:0 5px; color:#FFF; width:100%; line-height:2}
.news a { color:#FFF; font-size:12px}

.news a:hover{ color:#ff9800;}

.span-txt1 a {
	color:#FF0000 !important;
}
.flr {
	float:right;
	border-right: none !important;
}
.clr {
	clear:both;
}
.span-txt {
	font-size:14px;
	color:#d31d25;
	padding-bottom:10px;
	display:block;
}
.cart {
	width:24px;
	height:21px;
	background:url(../img/cart-icon.gif) no-repeat;
	display:inline-block;
	position:relative;
	top:4px;
}
.gall {
	width:24px;
	height:21px;
	background:url(../img/gall-icon.gif) no-repeat;
	display:inline-block;
	position:relative;
	top:4px;
}
.search-input {
	display:block;
	position:relative
}
.search-input input {
	border:solid 1px #b4cfff;
	padding:4px;
	color:#333;
	width:100%;
}
nav {
	width:100%;
	background-color:#999;
	margin:0;
}
.nav-content {
	width:960px;
	margin:0 auto;
	overflow:hidden;
	content:'';
}
.nav-content ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.nav-content ul li {
	list-style:none;
	font-size:14px;
	float:left;
}
.nav-content ul li a {
	padding:6px 12px;
	margin:0;
	display:block;
	color:#fff;
	font-size:16px;
}
.nav-content ul li first-child {
	padding-left:0px !important;
}
.nav-content ul li a:hover {
	background:#e19928;
	text-decoration:none;
}
.main-container {
	/*width:960px;*/
	width:90%;
	margin:0 auto;
}
.inner-main-container {
	width:80%;
	margin:0 auto;
}
.inner-search-container {
	width:92%;
	margin:0 auto;
}
.gallery-container {
	/*width:960px;*/
	width:100%;
	margin:0px 0 0px 0px;
	padding:0;
}

.top-cate{ margin:30px 0px;}

.top-cate h1 { text-align:center;    position: relative; }
.footer-content div ul li a:hover{ color:#faa21b;}
.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.off{ box-sizing: border-box; font-size:18px; font-weight:700;} .off a { padding:15px;}.off a:hover{ text-decoration:none;}
.walbanner {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #FFF;
    color: #F4444B;
	padding:10px 0px;
}

.walbanner, .walbanner * {
    box-sizing: border-box;
}
.bannerText {
    display: inline-block;
    font-weight: normal;
    font-size: 29px;
    color: #F4444B;
    text-decoration: none;
    font-weight: bold;
    font-family: "BebasNeueRegular" !important;
    margin: 0;
}
#banner-terms-link {
    color: #F4444B;
    cursor: pointer;
    float: left;
    font: 14px;
    text-align: left;
    padding: 2px 0 0;
    line-height: 5px;
    text-decoration: underline;
	font-family: "BebasNeueRegular" !important;
}
.bannerExpText {
    display: inline-block !important;
    padding: 8px 10px !important;
    float: none !important;
    letter-spacing:0px;
    font-size: 11px !important;
    font-weight: bold !important;
    text-align: left;
    text-indent: 0 !important;
    line-height: normal !important;
    cursor: pointer;
	 font-family: "BebasNeueRegular" !important;
}

.top-cate h1 {
	background:url(../img/icon_category.jpg) no-repeat;
	background-position: 41% 0%;
}



.top-cate h1 {
	font-family: 'BebasNeueRegular' !important;
    font-weight: bold;
    padding: 0px 0 4px 88px;
    color: #000;
    text-transform: uppercase;
    /* margin: 3px 0 3px; */
    font-size: 39px;
    /* word-spacing: 10px; */
    letter-spacing: 1px;;
	
	
}
.line {
	position:relative;
	/*width: 73%;*/
	/*top:-34px;*/
	border-color:#000 !important;
	/*left:129px;*/
}
.line2 {
	position: relative;
	top: -35px;
	border-color: #033387 !important;
	left: 43px;
}
.section-01 {
	margin:0 0 20px 0;
	padding:0;
	overflow:hidden;
	content:'';
	position:relative;
}
.section-01 .inner-left {
	float:left;
	width:460px;
}
.section-01 .inner-right {
	float:right;
	width:487px;
}
.section-01 .inner-left p {
	background: rgba(0, 0, 0, .5);
	padding:7px 5px;
	bottom: 0px;
	overflow:hidden;
	color:#FFF;
	content:'';
	width:460px;
	position:absolute;
	margin:0px;
}
.section-01 .inner-left p span {
	font-size:18px;
}
.section-01 .inner-left p a {
	display:inline-block;
	float:right;
	background:url(../img/buy.jpg) no-repeat;
	width:34px;
	height:22px;
	padding:5px 7px;
	font-size:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.section-01 .inner-right p {
	padding:7px 5px;
	margin: 0 0 4px 0;
	content: '';
	position: absolute;
	bottom: -4px;
	background: rgba(0, 0, 0, .5);
	width: 233px;
	color:#FFF;
}
.section-01 .inner-right p span {
	font-size:16px;
}
.section-01 .inner-right p a {
	display:inline-block;
	float:right;
	background:url(../img/buy.jpg) no-repeat;
	width:34px;
	height:22px;
	padding:5px 7px;
	font-size:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.section-02 {
	margin:0 0 20px 0;
	padding:0;
	overflow:hidden;
	content:'';
	position:relative;
}
.section-02 .inner-left {
	float:right;
	width:460px;
}
.section-02 .inner-right {
	float:left;
	width:486px;
}
/*.section-02 .inner-left p{ border-bottom:solid 1px #ccc; padding:6px 0; margin:0 0 4px 0; overflow:hidden; content:'';}*/



.section-02 .inner-left p {
	background: rgba(0, 0, 0, .5);
	padding:7px 5px;
	bottom: -4px;
	margin:0 0 4px 0;
	overflow:hidden;
	color:#FFF;
	content:'';
	width:460px;
	position:absolute;
}
.section-02 .inner-left p span {
	font-size:16px;
}
.section-02 .inner-left p a {
	display:inline-block;
	float:right;
	background:url(../img/buy.jpg) no-repeat;
	width:34px;
	height:22px;
	padding:5px 7px;
	font-size:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
/*.section-02 .inner-right p{ border-bottom:solid 1px #ccc; padding:6px 0; margin:0 0 4px 0; overflow:hidden; content:'';}*/


.section-02 .inner-right p {
	padding:7px 5px;
	margin: 0 0 4px 0;
	content: '';
	position: absolute;
	bottom: -4px;
	background: rgba(0, 0, 0, .5);
	width: 233px;
	color:#FFF;
}
.section-02 .inner-right p span {
	font-size:16px;
}
.section-02 .inner-right p a {
	display:inline-block;
	float:right;
	background:url(../img/buy.jpg) no-repeat;
	width:34px;
	height:22px;
	padding:5px 7px;
	font-size:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}

.navbar{margin-bottom:inherit !important; border:none; }
.navbar-default{ background-color:inherit !important;}

.gallery-section {
	margin:0;
	padding:0;
	content:'';
	overflow:hidden;
}
.gallery-section .gallery-inner-01 {
	width:465px;
	height:auto;
	float:left;
	margin:0 0 20px 0;
}
.gallery-section .gallery-inner-02 {
	width:465px;
	height:auto;
	float:right;
}
.gallery-section .gallery-inner-01 article {
	display:block;
	padding:0 4px;
	float:right;
	text-align:left;
	width:225px;
}
.gallery-section .gallery-inner-01 article h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#033387;
	margin:0;
	padding:0;
}
.gallery-section .gallery-inner-01 article h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#444;
	margin:0;
	padding:8px 0;
	text-decoration:underline;
}
.gallery-section .gallery-inner-01 article p {
	margin:0;
	padding:8px 0;
}
.gallery-section .gallery-inner-02 article {
	display:block;
	padding:0 4px;
	float:right;
	text-align:left;
	width:225px;
}
.gallery-section .gallery-inner-02 article h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
	color:#033387;
	margin:0;
	padding:0;
}
.gallery-section .gallery-inner-02 article h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#444;
	margin:0;
	padding:8px 0;
	text-decoration:underline;
}
.gallery-section .gallery-inner-02 article p {
	margin:0;
	padding:8px 0;
}
.buy-btn {
	display:inline-block;
	float:right;
	background:url(../img/buy.jpg) no-repeat;
	width:34px;
	height:22px;
	padding:5px 7px;
	font-size:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.scroll-slide {
	width:100%;
	height:auto;
	background:#f1f1f1;
	overflow:hidden;
	content:'';
	margin:10px 0 20px 0;
	padding:0 0 5px 0;
}
.scroll-inner {
	margin:0;
	padding:4px;
	display:block;
}
.scroll-inner ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.scroll-inner ul li {
	margin:0;
	padding:5px;
	list-style:none;
	float:left;
}
.scroll-inner ul li a {
	ext-decoration:none;
}
.scroll-inner ul li a i.left {
	width:29px;
	height:65px;
	background:url(../img/l-a.png) no-repeat;
	display:inline-block;
	position:relative;
	top:22px;
}
.scroll-inner ul li a i.right {
	width:29px;
	height:65px;
	background:url(../img/r-a.png) no-repeat;
	display:inline-block;
	float:right;
	position:relative;
	top:22px;
}
footer {
	background:#999;
}
.footer-content {
	padding:10px 0;
}
.footer-content div h1 {
	margin:0;
	padding:0;
	font-size:18px;
	color:#fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
}
.footer-content div h1 span {
	color:#faa21b;
}
.footer-content div ul {
	list-style-type:none;
	margin:10px 0 0 0;
	padding:0;
}
.footer-content div ul li {
    padding-right: 20px;
    background-image: url(../img/btm-bullet.png);
    line-height: 20px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 0 6px;
}
.footer-content div ul li a {
	padding-left:20px;
	color:#fff;
	text-transform:uppercase;
}
.footer-content div ul li:hover {
    padding-right: 20px;
    background-image: url(../img/btm-bulleth.png);
    line-height: 20px;
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 0 6px;
}
.news-input {
	display:block;
	padding:4px;
	width:170px;
	border-radius:4px;
	border:solid 1px #ccc;
	margin:20px 0 0 0;
}
.speaker {
	display:block;
	text-align:center;
	padding:10px 0;
}
.copyright {
  background: #282828 none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  margin: 0 -15px;
  padding: 8px;
  text-align: center;
}
.room {
	margin:0 20px;
	padding:0;
	float:left;
	width:450px;
}
.room h1 {
	margin:0;
	padding:10px;
	border:solid 1px #ccc;
	font-size:16px;
	text-align:center;
}
.room-inn {
	margin:0;
	padding:0;
	float:left;
	width:150px;
	border-right:solid 1px #FC0;
	padding:0px 20px;
}
.twoo {
	width:225px !important;
}
.room-inn h2 {
	margin:20px 0 10px 0;
	padding:0;
	font-size:16px;
	color:#d42326;
}
.room-inn ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.room-inn ul li {
	margin:0;
	padding:0;
	list-style:none;
	float:none;
	font-size:14px;
	color:#444;
	line-height:20px;
}
.signup {
	width:770px;
	overflow:hidden;
	padding:8px;
	border:solid 4px #ccc;
	position:fixed;
	z-index:60;
	top:180px;
	padding:8px;
	left:0;
	right:0;
	margin:0 auto;
	background:#fff;
}
.signup h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	margin:0 0 0px 0;
	padding:1px 0;
}
.signup-l-c {
	float:left; /*border-right:dashed 1px #ccc;*/
	padding: 0px 12px 0px 2px;
	border-right:solid 1px #ccc;
}
.signup-l-c p {
	margin:0 0 10px 0;
	padding:0;
}
.signup-l-c p span {
	width:130px;
	display:inline-block;
}
.signup-l-c p input {
	width:200px;
	border:solid 1px #ccc;
	padding:2px;
	line-height:16px;
}
.signup-r-c {
	float:right;
}
.signup-r-c h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	margin:0;
	padding:0;
}
.signup-l-c p.tar {
	text-align:right;
	margin:20px 0;
	display:block;
}
.signup-l-c p.tal {
	text-align:left;
	margin:20px 0;
	display:block;
	white-space:nowrap;
}
.signup-l-c p a.none {
	background-color:none;
}
.signup-l-c p a {
	background:#0C6;
	padding:6px 12px;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	border-radius:2px;
}
.signup-l-c p a:hover {
	background:#009966;
}
.signup-r-c .fb {
	margin:20px 0 0 0;
	padding:0;
}
.signup-r-c .fb span {
	margin:4px 0;
	padding:0;
	display:block;
}
.gallery {
	width:600px;
	overflow:hidden;
	padding:8px;
	border:solid 4px #ccc;
	position: fixed;
	z-index:60;
	top:200px;
	left:0;
	right:0;
	margin:0 auto;
	background:#fff;
}
.gallery h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	margin:0 0 20px 0;
	padding:8px 0;
}
.gallery-l-c {
	float:left;
	border-right:dashed 1px #ccc;
	padding-right:50px;
}
.gallery-l-c p {
	margin:0 0 10px 0;
	padding:0;
}
.gallery-l-c p span {
	width:130px;
	display:inline-block;
}
.gallery-l-c p input {
	width:200px;
	border:solid 1px #ccc;
	padding:2px;
	line-height:16px;
}
.gallery-r-c {
	float:right;
}
.gallery-r-c h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	margin:0;
	padding:0;
}
.gallery-l-c p.tar {
	text-align:right;
	margin:20px 0;
	display:block;
}
.gallery-l-c p.tal {
	text-align:left;
	margin:20px 0;
	display:block;
	white-space:nowrap;
}
.gallery-l-c p a.none {
	background-color:none;
}
.gallery-l-c p a {
	background:#0C6;
	padding:6px 12px;
	font-size:14px;
	color:#fff;
	text-decoration:none;
	border-radius:2px;
}
.gallery-l-c p a:hover {
	background:#009966;
}
.gallery-r-c .fb {
	margin:20px 0 0 0;
	padding:0;
}
.gallery-r-c .fb span {
	margin:4px 0;
	padding:0;
	display:block;
}
.img-res {
	height:226px;
	width:100%;
}
.section-02 .img-footer, .section-01 .img-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 9px 6px;
	width: 93%;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	margin: 0px 15px;
}
.imgsend .img-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 9px 6px;
	width: 88%;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	margin: 0px 15px;
}
.frameit {
	width:429px;
	overflow:hidden;
	padding:38px;
	border:solid 4px #ccc;
	position:absolute;
	z-index:60;
	top: 40%;
	left: 32%;
	right:0;
	margin:0 auto;
	background:#fff;
}
.fb-i {
	width:136px;
	height:28px;
	background:url(../img/hf-icons-sprite.png) no-repeat;
	background-position:-1px -184px;
	display:block;
}
.goo-i {
	width:136px;
	height:28px;
	background:url(../img/hf-icons-sprite.png) no-repeat;
	background-position:-1px -213px;
	display:block;
}
.backblack {
	background:#000;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:40;
	opacity:0.9;
}
p.p1 {
	font-size:16px !important;
	color:#444;
	margin:0;
	padding:10px !important;
}
h1.h1 {
	font-size:18px !important;
	color:#444;
	margin:0;
	padding:10px !important;
}
.mrt {
	margin-top:48px !important;
}

.sub-hor {
	width:100% !important;
	background:#f7f7f7 !important;
	border:solid 1px #ccc;
	box-shadow:1px 1px 1px #ccc;
	color:#444 !important;
	margin: 21px 0px;
}
.dblock1 {
	text-transform:uppercase;
	font-size:13px;
	color:#444;
	display:block;
	padding:11px 2px;/* padding-top:10px;*/
	text-align:center
}
.sub-hor ul {
	list-style-type:none;
}
.sub-hor ul li {
	color:#444 !important;
}
.sub-hor ul li a {
	color:#444 !important;
}
.sub-hor h1 {
	color:#444 !important;
}
.curator {
	margin:25px 0px;
}
.social_menu {
	margin:10px 0px;
}
.curator h2 {
	font-size: 24px;
	margin: 10px 0;
	font-family: narzissdropsregular;
}
.curator_img {
	text-align:center;
}
.curator img {
	border-radius: 50%;
	border: 1px solid #ccc;
	padding: 10px;
	width: 150px;
	height: 150px;
}
.curator p {
	line-height:22px;
	font-size:14px;
	text-align:justify;
}
.imgfist {
	width:50% !important;
}
.imgsend {
	width:25% !important;
	margin:10px 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
#navbg ul {
width:auto !important;
}
}



@media (min-width: 768px) and (max-width: 1024px) {
#navbg ul li a {
font-size: 12px !important;
padding: 6px 7px !important;
}

.backdrop {
width:100% !important;
}
#mouse-over #pattern {
margin:inherit !important;
}

 .sub-hor {
 background: #f7f7f7 !important;
 border: solid 1px #ccc;
 box-shadow: 1px 1px 1px #ccc;
 color: #444 !important;
}
 .section-01 .inner-right {
float:none;
width:auto;
}
.footer-content{ width:100%;}

.gallery-container {
	width:100%;
}

.gallery2 {
    
    width: 84% !important;
	

	
}
}



 @media (max-width: 767px) {
.flr {
float:inherit;
}
#navbg ul {
width:100% !important;
}
.main-container {
width:100%;
}
.img-res {
height:226px;
width:auto !important;
}
 .gallery-container {
width:100%;
}
#header h1 {
font-size: 17px !important;
margin: -78px 0 0;
}

.section-01 .inner-right {
float:none;
width:auto;
}

.imgfist {
	width:100% !important;
}
.imgsend {
	width:100% !important;
}

.gallery2 {
    
    width: 84% !important;
	position:inherit !important;
	height:inherit !important;
    margin: 0 0 0 0px !important;
	
}
.onediv, .twodiv, .threediv, .fourdiv {
    height:auto !important;
    position:inherit !important;
   
}
.one-child{ position:inherit !important;}



.section-02 .img-footer, .section-01 .img-footer {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    margin: 0 15px;
    padding: 9px 6px;
    position: absolute;
    width: 30%;
}
.top-cate h1{ font-size:19px;}

}



 @media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

 .top-cate h1 {
 font-size: 20px;
 margin: 0;
 padding: 0 0 0 40px;
}
.main-container {
width:100%;
 }
.flr {
float:inherit;
}
#navbg ul {
width:100% !important;
}
.main-container {
width:100%;
}
.footer-content{ width:100%;}

.img-res {
height:226px;
width:auto !important;
}
 .gallery-container {
width:100%;
}

.imgfist {
	width:100% !important;
}
.imgsend {
	width:100% !important;
}


.footer-content div span form{margin: 0 auto;width: 42%;}

.gallery2 {
    
    width: 84% !important;
	position:inherit !important;
	height:inherit !important;
	margin: 0 0 0 0px !important;

	
}
.onediv, .twodiv, .threediv, .fourdiv {
    height:auto !important;
    position:inherit !important;
   
}
.one-child{ position:inherit !important;}
#header h1{font-size: 14px !important;}
 }
 
 
 @media (max-width: 320px) {
.top-cate h1 {
    color: #033387;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0 0 0 50px;
}

.gallery2 {
    margin: 0 0 0 0px !important;
  
}

.imgsend .img-footer {
   
    width: 33% !important;
}
#header h1{font-size: 13px !important;}
}
 
 @media (min-width: 1024px) {
 #mouse-over #pattern {
 margin: 190px 0 0 0px;
 padding: 0;
 background: #09F;
 width: 680px;
 position: absolute;
 height: 204px;
}
}

