.color1{ background-color:rgb(30, 30, 30);}
.color2{ background-color:rgb(102, 106, 109);}
.color3{background-color:rgb(190, 189, 182);}
.color4{background-color:rgb(226, 225, 224);}
.color5{background-color:rgb(85, 69, 69);}
.color6{background-color:rgb(119, 111, 111);}
.color7{background-color:rgb(137, 117, 111);}
.color8{background-color:rgb(170, 159, 148);}
.color9{background-color:rgb(215, 206, 197);}
.color10{background-color:rgb(220, 215, 198);}
.color11{background-color:rgb(240, 238, 229);}
.color12{background-color:rgb(245, 245, 242);}

.color13{background-color:rgb(129, 49, 37);}
.color14{background-color:rgb(164, 29, 25);}
.color15{background-color:rgb(217, 37, 29);}
.color16{background-color:rgb(198, 64, 32);}
.color17{background-color:rgb(212, 80, 60);}
.color18{background-color:rgb(255, 80, 60);}
.color19{background-color:rgb(246, 72, 76);}
.color20{ background-color:#E9967A;}
.color21{ background-color:rgb(238, 145, 141);}
.color22{background-color:rgb(248, 175, 169);}
.color23{background-color:rgb(245, 208, 201);}
.color24{background-color:rgb(248, 228, 227);}

.color25{background-color:rgb(109, 59, 36);}
.color26{background-color:rgb(123, 72, 43);}
.color27{background-color:rgb(161, 82, 38);}
.color28{background-color:rgb(191,101,46);}
.color29{background-color:rgb(220,114,42);}
.color30{background-color:rgb(255,118,0);}
.color31{background-color:rgb(239,142,56);}
.color32{background-color:rgb(239,149,72);}
.color33{background-color:rgb(246,174,120);}
.color34{background-color:rgb(255,198,158);}
.color35{background-color:rgb(238,199,162);}
.color36{background-color:rgb(254,220,193);}

.color37{background-color:rgb(129,91,40);}
.color38{background-color:rgb(157,112,46);}
.color39{background-color:rgb(188,127,12);}
.color40{background-color:rgb(209,144,51);}
.color41{background-color:rgb(224,157,55);}
.color42{background-color:rgb(253,174,69);}
.color43{background-color:rgb(255,180,55);}
.color44{background-color:rgb(252,191,102);}
.color45{background-color:rgb(245,205,130);}
.color46{background-color:rgb(255,215,160);}
.color47{ background-color:rgb(247,225,183);}
.color48{background-color:rgb(253,239,219);}

.color49{background-color:rgb(122,114,41);}
.color50{background-color:rgb(152,132,34);}
.color51{background-color:rgb(184,167,34);}
.color52{background-color:rgb(218,192,26);}
.color53{background-color:rgb(255,215,0);}
.color54{ background-color:rgb(243,213,44);}
.color55{ background-color:rgb(253,227,54);}
.color56{ background-color:rgb(251,235,80);}
.color57{ background-color:rgb(242,226,137);}
.color58{ background-color:rgb(248,234,151);}
.color59{ background-color:rgb(245,244,193);}
.color60{ background-color:rgb(246,245,215);}

.color61{ background-color:rgb(103,105,39);}
.color62{ background-color:rgb(126,132,36);}
.color63{ background-color:rgb(153,173,37);}
.color64{ background-color:rgb(186,192,14);}
.color65{ background-color:rgb(210,219,50);}
.color66{ background-color:rgb(232,210,51);}
.color67{ background-color:rgb(223,221,120);}
.color68{ background-color:rgb(205,230,93);}
.color69{ background-color:rgb(228,222,142);}
.color70{ background-color:rgb(247,222,148);}
.color71{ background-color:rgb(241,241,198);}
.color72{ background-color:rgb(239,245,209);}

.color73{ background-color:rgb(67,76,40);}
.color74{ background-color:rgb(87,94,46);}
.color75{background-color:rgb(104,127,69);}
.color76{background-color:rgb(124,159,47);}
.color77{background-color:rgb(155,177,35);}
.color78{background-color:rgb(169,201,73);}
.color79{background-color:rgb(163,217,45);}
.color80{background-color:rgb(192,201,117);}
.color81{background-color:rgb(210,214,156);}
.color82{background-color:rgb(215,207,140);}
.color83{ background-color:rgb(224,216,167);}
.color84{ background-color:rgb(225,228,197);}

.color85{ background-color:rgb(25,57,37);}
.color86{ background-color:rgb(47,69,44);}
.color87{ background-color:rgb(54,92,52);}
.color88{ background-color:rgb(47,117,50);}
.color89{ background-color:rgb(54,129,54);}
.color90{ background-color:rgb(75,163,81);}
.color91{ background-color:rgb(80,167,67);}
.color92{ background-color:rgb(134,164,117);}
.color93{ background-color:rgb(163,189,156);}
.color94{ background-color:rgb(157,211,168);}
.color95{ background-color:rgb(184,212,187);}
.color96{ background-color:rgb(195,214,189);}

.color97{ background-color:rgb(48,85,99);}
.color98{ background-color:rgb(31,106,125);}
.color99{ background-color:rgb(62,127,157);}
.color100{ background-color:rgb(65,144,173);}
.color101{background-color:rgb(67,168,197);}
.color102{background-color:rgb(101,184,209);}
.color103{background-color:rgb(119,183,208);}
.color104{background-color:rgb(126,205,221);}
.color105{background-color:rgb(140,206,234);}
.color106{background-color:rgb(164,220,230);}
.color107{background-color:rgb(194,230,236);}
.color108{background-color:rgb(211,229,239);}

.color109{background-color:rgb(23,49,65);}
.color110{background-color:rgb(33,66,95);}
.color111{background-color:rgb(44,87,120);}
.color112{background-color:rgb(32,96,142);}
.color113{background-color:rgb(49,110,160);}
.color114{background-color:rgb(76,129,195);}
.color115{background-color:rgb(87,132,193);}
.color116{background-color:rgb(124,154,205);}
.color117{background-color:rgb(122,170,224);}
.color118{background-color:rgb(166,181,198);}
.color119{background-color:rgb(174,201,235);}
.color120{background-color:rgb(199,205,216);}

.color121{background-color:rgb(30,34,44);}
.color122{background-color:rgb(31,33,66);}
.color123{background-color:rgb(41,45,79);}
.color124{background-color:rgb(49,54,105);}
.color125{background-color:rgb(61,63,125);}
.color126{background-color:rgb(86,73,133);}
.color127{background-color:rgb(106,91,177);}
.color128{background-color:rgb(111,99,160);}
.color129{background-color:rgb(135,118,182);}
.color130{background-color:rgb(162,158,205);}
.color131{background-color:rgb(157,156,183);}
.color132{background-color:rgb(178,185,205);}

.color133{background-color:rgb(51,32,51);}
.color134{background-color:rgb(46,24,59);}
.color135{background-color:rgb(67,37,79);}
.color136{background-color:rgb(74,45,104);}
.color137{background-color:rgb(92,60,109);}
.color138{background-color:rgb(116,80,133);}
.color139{background-color:rgb(105,93,135);}
.color140{background-color:rgb(148,112,196);}
.color141{background-color:rgb(153,110,158);}
.color142{background-color:rgb(174,153,210);}
.color143{background-color:rgb(187,151,187);}
.color144{background-color:rgb(196,192,226);}

.color145{background-color:rgb(68,35,47);}
.color146{background-color:rgb(106,31,68);}
.color147{background-color:rgb(122,46,77);}
.color148{background-color:rgb(131,56,89);}
.color149{background-color:rgb(156,67,103);}
.color150{background-color:rgb(174,72,112);}
.color151{background-color:rgb(181,75,115);}
.color152{background-color:rgb(179,112,132);}
.color153{background-color:rgb(224,147,171);}
.color154{background-color:rgb(239,149,174);}
.color155{background-color:rgb(237,184,199);}
.color156{background-color:rgb(228,206,236);}

table.bor {
  display: inline-block;
  margin-right: 5px;
  width: 160px;
}
.bor tr td a{
	width:40px;
	height:40px;
	float:left
}