@charset "utf-8";
/* CSS  */


///**CUSTOMER PROFILE****//
.profile-detail-wrapper {width:850px;float:left; margin:0;}
.profile-info-hdr {	margin: 0; padding:8px 15px; height:20px; border-top:#fff 2px solid; background: #000; text-decoration:none; color: #fff; font-size:18px; width:772px;}
div.info-container {padding:0 15px; margin:0; border:1px solid #ccc ; width:770px;}
div.info-content { 	margin: 0 15px;    padding:10px 0;	font-size:.9em; line-height:1.5em; font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}
.profile-bt{width:100px; padding:8px 35px 8px 15px; margin:15px 0; display:block; text-align:center; font-size:16px; text-transform:uppercase; color:#fff; background:#faa21b url(../images/arrow-shop.png) right center no-repeat; border:none; cursor:pointer; -moz-border-radius: 3px;  -webkit-border-radius: 3px;  border-radius: 3px; }
.profile-bt:hover{background:#000 url(../images/arrow-shop.png) right center no-repeat;}

/*ORDER HISTORY*/
.order-history-results{font-size:16px; color:#000066; padding:8px; display:block}
.order-history-tbl tr{border-bottom:1px solid #CCC; font-size:12px; line-height:18px;}
.order-history-tbl tr td{padding:10px 0}
.order-history-tbl .it-etc{display-block; width:80%;}
.order-history-tbl .it-etc .it-sze{display:block; color:#aaa; padding-top:5px;}

