<!--Frame it slider-->
.tabs-section1 .nav-tabs {
  border-bottom: medium none;
}
.tabs-section1 .nav-tabs > li > a {
  border-left: 1px solid #6d6e6c;
  border-radius: 0;
  border-right: medium none transparent;
  border-top: medium none transparent;
  font-family: "Helvetica Neue Regular",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
.tabs-section1 .nav > li > a:focus, .tabs-section1 .nav > li > a:hover
 {
  background-color: #7f7d7e;
}
.tabs-section1 .nav-tabs > li.active > a, .tabs-section1 .nav-tabs > li.active > a:focus, .tabs-section1 .nav-tabs > li.active > a:hover {
	background-color: #fff;
}
.tabs-section1 > ul a {
  color: #fff;
}
.choose-colors {
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  display: block;
  font-family: "MyriadProSemiBold";
  font-size: 12px;
  margin: 10px 0;
  padding: 3px;
  text-transform: uppercase;
  width: 100%;
}
ul.choose-colors-type {
  height: auto;
  max-height: 100px;
  overflow-x: hidden;
}
.choose-colors-type li a, .choose-colors-type-mount li a, .choose-colors-type > li {
  color: #888;
  display: block;
  font-size: 12px;
  padding: 2px 6px;
}
.remove-mount-selector.text-center {
  margin: 4px 0 7px;
}
